
@{
    ViewData["Title"] = "Thanks4Review";
}

<br />
<br />
<div class="card-header" style="color:#e5352b; background-color:white;width:60%;margin:0 auto">
    <h1> <i class="far fa-thumbs-up"></i>  Thank you for your review; customers feedback is our mirror for best future</h1>
</div>
