@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    h5 {
        color: #0081b4;
        font-weight:bold
    }
    ul, table, div {
        color: #9f1f5c;
        font-size:16px;
    }
</style>
<div style="width:100%; background-color:white;">
    <br />
    <h3 style="text-align:center;color:#e5352b"><img src="~/images/bQun.png" style="border-radius:50%; width:60px" />Queen online shopping system</h3>
    <div class="container">
        Online shopping system where developer use makeup as an example,
        system can be used for any type of items as per user requirements

        <h5>System has two parts:</h5>
        <ul>
            <li>
                Administrators
            </li>
            <li>
                Customers
            </li>
        </ul>
        <h5>What is available online?</h5>
        <p>Developer uploaded test data using administrator user, this data is available online.</p>
        <p>As a website user, you have access only to customer part, but you cannot access the system admin console.</p>
        <h5>How to use website?</h5>
        <p>
            You can go throw our website and view products,
            also you can see latest news in our banner
        </p>
        <h5>Add to cart:</h5>
        <p>You have to sign in,  in order to add product to your cart, before of that you should register in the website</p>
        <h5>Checkout </h5>
        <p>As add to cart you should sign in and plus that you have to add your phone number and location in the user profile.</p>
        <h5>Test Visa Card:</h5>
        <table style="width:80%;" class="table table-bordered">
            <thead style="background-color: #30aabc;color: white">
                <tr>
                    <th>
                        NUMBER
                    </th>
                    <th>
                        BRAND
                    </th>
                    <th>
                        CVC
                    </th>
                    <th>
                        DATE
                    </th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>
                        4242424242424242
                    </td>
                    <td>
                        Visa
                    </td>
                    <td>
                        Any 3 digits
                    </td>
                    <td>Any future date</td>
                </tr>
                <tr>
                    <td>
                        4000056655665556
                    </td>
                    <td>
                        Visa (debit)
                    </td>
                    <td>
                        Any 3 digits
                    </td>
                    <td>Any future date</td>
                </tr>
                <tr>
                    <td>
                        5555555555554444
                    </td>
                    <td>
                        Mastercard
                    </td>
                    <td>
                        Any 3 digits
                    </td>
                    <td>Any future date</td>
                </tr>
            </tbody>
        </table>
        <h5>Orders:</h5>
        <ul>
            <li>
                You can track pending orders
            </li>
            <li>
                Delivered products: you can add review and view order history
            </li>
        </ul>
        <h5>Emails:</h5>
        <p>System send auto emails in transactions:</p>
        <ul>
            <li>
                Checkout

            </li>
            <li>
                Item dispatch
            </li>
            <li>
                Item delivered
            </li>
            <li>
                Forget password
            </li>
            <li>Confirm email, this is when user first register.</li>
        </ul>
        <h5>
            About Developer:
        </h5>
        Please Visit:
        <a href=" https://munnes.github.io/MyPortfolio/" class="btn btn-outline-danger" target="_blank"> Nasreen Sayed-Portfolio</a>
    </div>
    <br />
</div>

