@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="font-size:16px; float:right">
    <a class="nav-link active" style="color:white" href="~/Home/ShoppingCart"><span style="color:white"><span id="crt">@ViewData["Cart"]</span><i class="fas fa-shopping-cart"></i></span></a>
  
</div>