@model OnlineShop.ViewModel.ProductCategoryViewModel

@{
    ViewData["Title"] = "Create";
}
@* java here *@
<h2>Product</h2>
<h5>Create New Product</h5>
<hr />
<script src="~/ckeditor_4.15.0_standard/ckeditor.js"></script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrdCode" class="control-label"></label>
                <input asp-for="PrdCode" class="form-control" />
                <span asp-validation-for="PrdCode" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="PrdName" class="control-label"></label>
                <input asp-for="PrdName" class="form-control" />
                <span asp-validation-for="PrdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class="form-control"
                        asp-items="@(new SelectList(Model.Categories, "CatId", "CatName"))"></select>

                <span asp-validation-for="CatId" class="text-danger"></span>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
<script type="text/javascript">CKEDITOR.replace('Description');</script>
